@import "tailwindcss";

:root {
  --bg: #0d0c22;
  --bgSoft: #2d2b42;
  --text: white;
  --textSoft: #e5e5e5;
  --btn: #3673fd;
  --font-poppins: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font-poppins);
}

a {
  text-decoration: none;
  color: inherit;
}

@layer components {
  .animation {
    transition: .3s linear;
  }

  .container-center{
    @apply m-auto container flex items-center
  }

  .home-btn {
    border-radius: 5px;
    width: 125px;
    padding: 20px 10px;
  }

  .input-style {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-[16px] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full px-2 py-5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
  }
}